body {
  margin: 0;
  font-family: Arial, sans-serif;background-color: #080808;
  color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

#header {
  height: 100vh;
  background-image: url('../img/photo-1531297484001-80022131f5a1.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-left: 3rem;
}
.container {
  padding: 10px 10%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

.logo {
  height: 40px;
}

#menu-toggle {
  display: none;
}

.menu-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
  display: none;
}

ul#sidemenu {
  display: flex;
  gap: 20px;
  list-style: none;
}
ul#sidemenu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
ul#sidemenu li a:hover {
  color: #ffcc00;
}
ul#sidemenu li a.active {
  color: #ffcc00;
}


.header-text {
  margin-top: 15%;
  font-size: 30px;
  position: relative;
  /* z-index: 2; */
  max-width: 600px;
}
.header-text h1 {
  font-size: 50px;
  margin-top: 20px;
}

.header-text h1 span {
  color: #ff004f;
}

/* about section */


#about {
  padding: 80px 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin-bottom: 20px; */
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
  gap: 20px;
  color: #ffffffff;
}
.skills {
  display: grid;
  grid-template-columns: repeat( 1fr);
  gap: 10px;
  padding: 10px;
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  border: 1px solid  #4a4545e0;
  border-radius: 10px;
  color: #fff;
  background: rgba(74, 69, 69, 0.88);
  
}


/* -------------------Interests-------------- */
#Interests {
  padding: 30px 0;
}
.Interests-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 30px;
}
.Interests-list div {
  background: #262626;
  padding: 20px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 12px;
  text-align: center;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}
.Interests-list div i {
  font-size: 40px;
  margin-bottom: 15px;
  color: #00aaff;
}
.Interests-list div h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Interests-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.Interests-list div:hover {
  background: #ff004f;
  transform: translate(-10px);
}
.text-content {
  font-size: 14px;
  margin-bottom: 20px;
  opacity: 0.9;
}


/* ---------portfolio---------- */

#portfolio {
  padding: 50px 0;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
  /* color: #ff004f; */
  text-decoration: none;
  font-size: 20px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
.btn {
  /* display: inline-block; */
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.btn:hover {
  background: #ff004f;
}



@media only screen and (max-width: 600px){
 .menu-icon {
    display: block;
  }

  ul#sidemenu {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: #222;
    display: none;
    padding: 20px 0;
    z-index: 1;
  }
   #menu-toggle:checked ~ ul#sidemenu {
    display: flex;
  }

  .menu-btn .fa-times {
    display: none;
  }

  #menu-toggle:checked + label .fa-bars {
    display: none;
  }

  #menu-toggle:checked + label .fa-times {
    display: inline;
  }
  ul#sidemenu li {
    padding: 5px 15px;
    text-align: center;
  }
  ul#sidemenu li a {
    font-size: 18px;
  }
  #header {
    background-image: url(../img/photo-1531297484001-80022131f5a1.avif);
  }
 
  .header-text h1 {
    font-size: 36px;
  } 
  
    .header-text {
    margin-top: 15%;
    font-size: 20px;
    position: relative;
    /* z-index: 2; */
    max-width: 600px;
    text-align: center;
  }

  .sub-title {
    font-size: 40px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-1 img {
    width: 100%;
    border-radius: 50%;
  }
    .about-col-2 {
    font-size: 14px;
  }






}
