body {
  margin: 0;
  font-family: Arial, sans-serif;background-color: #080808;
  color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

#header {
  height: 100vh;
  background-image: url('../img/photo-1531297484001-80022131f5a1.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-left: 3rem;
}
.container {
  padding: 10px 10%;
}
#header .container{
  padding: 5px 5%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

.logo {
  height: 40px;
}

#menu-toggle {
  display: none;
}

.menu-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
  display: none;
}

ul#sidemenu {
  display: flex;
  gap: 20px;
  list-style: none;
}
ul#sidemenu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
ul#sidemenu li a:hover {
  color: #ff004f;
  transition: color 0.3s ease;

}
ul#sidemenu li a.active {
  color: #ff004f;
}


.header-text {
  margin-top: 15%;
  font-size: 30px;
  position: relative;
  /* z-index: 2; */
  max-width: 600px;
}
.header-text h1 {
  font-size: 50px;
  margin-top: 20px;
}

.header-text h1 span {
  color: #ff004f;
}

/* about section */


#about {
  padding: 80px 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin-bottom: 20px; */
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
  gap: 20px;
  color: #ffffffff;
}
/* education and skills */
/* Enhance the #education section look */
#education {
  padding: 80px 0;
  background: #0d0d0d;
  color: #fff;
 
}
.skill-category {
  margin-top: 30px;
  font-size: 20px;
  color: #ffffffff;
  border-left: 4px solid #ff004f;
  padding-left: 10px;
  margin-bottom: 10px;
}

/* Skill box styling */
.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  padding: 10px 0;
  list-style: none;
}

.skill {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.05);
}

.skill:hover  {
  background: #ff004f !important;
  transform: translateY(-5px) !important;
  color: #ffffff !important;
}




/* EDUCATION SECTION */

#education .tab-contents ul {
  list-style-type: none;
  margin-top: 20px;
  padding-left: 0;
}

#education .tab-contents li {
  background: #1f1f1f;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
}

#education .tab-contents li:hover {
  background: #2b2b2b;
  transform: translateX(5px);
}

#education .tab-contents li span {
  font-size: 16px;
  color: white;
  font-weight: bold;


  display: block;
  margin-bottom: 6px;
}

#education .tab-contents li p {
  font-size: 14px;
  margin: 2px 0;
  color: #cccccc;
  line-height: 1.5;
}


/* BUTTON CV DOWNLOAD */
.btn.btn2 {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  margin-top: 30px;
  padding: 12px 15px;
  border-radius: 8px;
  background: linear-gradient(to right, #ff004f, #ff7a59);
  border: none;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(255, 0, 79, 0.3);
}

.btn.btn2:hover {
  background: linear-gradient(to right, #ff7a59, #ff004f);
  transform: scale(1.05);
}

/* ICON INSIDE BUTTON */
.btn.btn2 i {
  font-size: 16px;
}



/* -------------------Interests-------------- */
#Interests {
  padding: 30px 0;
}
.Interests-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 30px;
}
.Interests-list div {
  background: #262626;
  padding: 20px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 12px;
  text-align: center;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}
.Interests-list div i {
  font-size: 40px;
  margin-bottom: 15px;
  color: #00aaff;
}
.Interests-list div h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Interests-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.Interests-list div:hover {
  background: #ff004f;
  transform: translate(-10px);
}
.text-content {
  font-size: 14px;
  margin-bottom: 20px;
  opacity: 0.9;
}


/* ---------portfolio---------- */

#portfolio {
  padding: 50px 0;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
  /* color: #ff004f; */
  text-decoration: none;
  font-size: 20px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
.btn {
  /* display: inline-block; */
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.btn:hover {
  background: #ff004f;
}


/* ----------------contact---------------- */

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}
.contact-left p a {
  text-decoration: none;
  color: #fff;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 20px;
}

.social-icons {
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: #ff004f;
  font-weight: bold;
  transition: background-color 0.3s ease;
}


.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}
.copyright i {
  color: #ff004f;
}


@media only screen and (min-width: 600px) and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  ul#sidemenu {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: #222;
    display: none;
    padding: 20px 0;
    z-index: 1;
  }
   #menu-toggle:checked ~ ul#sidemenu {
    display: flex;
  }

  .menu-btn .fa-times {
    display: none;
  }

  #menu-toggle:checked + label .fa-bars {
    display: none;
  }

  #menu-toggle:checked + label .fa-times {
    display: inline;
  }
  ul#sidemenu li {
    padding: 5px 15px;
    text-align: center;
  }
  ul#sidemenu li a {
    font-size: 18px;
  }
  
  #education .about-col-1 {
    flex-basis: 50%;
    text-align: center;
  }
  #education .about-col-2 {
    flex-basis: 50%;
  }
  

}



@media only screen and (max-width: 600px){
  .menu-icon {
    display: block;
  }

  ul#sidemenu {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: #222;
    display: none;
    padding: 20px 0;
    z-index: 1;
  }
   #menu-toggle:checked ~ ul#sidemenu {
    display: flex;
  }

  .menu-btn .fa-times {
    display: none;
  }

  #menu-toggle:checked + label .fa-bars {
    display: none;
  }

  #menu-toggle:checked + label .fa-times {
    display: inline;
  }
  ul#sidemenu li {
    padding: 5px 15px;
    text-align: center;
  }
  ul#sidemenu li a {
    font-size: 18px;
  }
 
  #header {
    background-image: url(../img/photo-1531297484001-80022131f5a1.avif);
  }
 
  .header-text h1 {
    font-size: 36px;
  } 
  
    .header-text {
    margin-top: 15%;
    font-size: 20px;
    position: relative;
    /* z-index: 2; */
    max-width: 600px;
    text-align: center;
  }

  .sub-title {
    font-size: 40px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-1 img {
    width: 100%;
    border-radius: 50%;
  }
    .about-col-2 {
    font-size: 14px;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  .copyright {
    font-size: 14px;
  }






}
#msg {
  color: #61b752;
  margin-top: -40px;
  display: block;
}
#msg.error {
  color: #ff004f;
}


.skill, #education .tab-contents li {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease forwards;
}
.skill:nth-child(odd), #education .tab-contents li:nth-child(odd) {
  animation-delay: 0.2s;
}
.skill:nth-child(even), #education .tab-contents li:nth-child(even) {
  animation-delay: 0.4s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


